
<div class="center">
<h2>PROYECTOR BENQ</h2>
<div (click)="onProyector()" class="onoffswitch">
  <input type="hidden" name="state" [(ngModel)]="proyector.state">
  <div>
    <input type="checkbox" [checked]="proyector.state === states[0].value" (change)="$event.target.checked? (proyector.state = states[0].value) : (proyector.state = states[1].value)"
      name="onoffswitch" class="onoffswitch-checkbox" id="myonoffswitch">
    <label class="onoffswitch-label" for="myonoffswitch">
      <span class="onoffswitch-inner"></span>
      <span class="onoffswitch-switch"></span>
    </label>
  </div>
</div>
</div>
