$colorBorder: #327C7E;
$white: #fff;
$colorOn: #0DC983;
$colorh2: #5E8C91;

/*Inicio css botón ON/OFF*/

.onoffswitch {
    position: absolute;
    width: 80px;
    margin-left: 10px;
    margin-top: 10px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
  }
  
  .onoffswitch-checkbox {
    display: none;
  }
  
  .onoffswitch-label {
    display: block;
    overflow: hidden;
    cursor: pointer;
    border: 1px solid $colorBorder;
    border-radius: 20px;
  }
  
  .onoffswitch-inner {
    display: block;
    width: 200%;
    margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
  
  .onoffswitch-inner:before,
  .onoffswitch-inner:after {
    display: block;
    float: left;
    width: 50%;
    height: 30px;
    padding: 0;
    line-height: 30px;
    font-size: 14px;
    color: white;
    font-family: Trebuchet, Arial, sans-serif;
    font-weight: bold;
    box-sizing: border-box;
  }
  
  .onoffswitch-inner:before {
    content: "OFF";
    padding-right: 25px;   
    background-color: #0E454A;
    color: $colorh2;
    
  }
  
  .onoffswitch-inner:after {
    content: "ON";
    padding-right: 10px;
    background-color: $colorOn;
    color: $white;
    text-align: right;
  }
  
  .onoffswitch-switch {
    display: block;
    width: 35px;
    margin: -2.5px;
    background: $white;
    position: absolute;
    top: 0;
    bottom: 0;
    right: 46px;
    border: 1px solid $colorBorder;
    border-radius: 20px;
    transition: all 0.3s ease-in 0s;
  }
  
  .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
  
  .onoffswitch-checkbox:checked+.onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }
  
  
  /*fin css botón ON/OFF*/