<section class="main">
  <div class="leftsize">
    <div class="title">
      <h1>
        <strong>Controla la Temperatura</strong> de tu hogar...
        <b> sin estar en casa ;)</b>
      </h1>
    </div>
    <a *ngIf="!user" [routerLink]="['/login']">
      <button class="main-btn">Login</button>
    </a>
    <a *ngIf="user" [routerLink]="['/dashboard']">
      <button class="main-btn">Dashboard</button>
    </a>
  </div>
</section>
<section class="tabs">
  <div class="title subtitle">
    <h2>Be part of Raspitempº</h2>
  </div>
  <a *ngIf="!user" [routerLink]="['/signup']">
    <button class="secundary-btn">Sign up</button>
  </a>
  <a *ngIf="user" [routerLink]="['/realtime']">
    <button class="secundary-btn">RealTime Tº</button>
  </a>
</section>
